:root {
  --main-purple-dark-color: #7744d9;
  --main-purple-light-color: #c216db;
  --header-text-color: #232323;
  --paragraph-color: #868686;
  --section-color: #eff2f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.1rem;
  color: var(--paragraph-color);
}

h1,
h2,
h3 {
  color: var(--header-text-color);
}

/* ------------------------------------------------------------------------------------------------- */

/* Navbar */

.navbar {
  top: 0;
  width: 100%;
  display: flex;
  padding: 2rem;
  z-index: 1000;
  position: fixed;
  justify-content: space-evenly;
  text-align: center;
  box-shadow: 0.7rem 0.7rem 0.5rem rgba(135, 134, 134, 0.1);
  background: #fff;
}

/* Navbar | Logo */

.navbar .navbar__logo {
  color: var(--main-purple-dark-color);
  font-size: 4rem;
  font-weight: 600;
}

/* Navbar | "The Real Navigationbar" */

.navbar ul {
  display: flex;
  margin-top: 1.2rem;
}

.navbar .navbar__list .navbar__list--link a {
  color: var(--header-text-color);
  transition: all 0.3s ease;
}

.navbar .navbar__list .navbar__list--link a:hover {
  color: var(--main-purple-light-color);
}

.navbar .navbar__list .navbar__list--link {
  display: flex;
  padding: 1rem 1.5rem;
  font-size: 1.8rem;
  color: var(--header-text-color);
}

/* --------------------------------------------------------------------------------------------- */

/* Blog Intro */

.blog-intro {
  height: 50vh;
  padding: 10rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#7844d9a4, #c116db98),
    url("../Assets/images/new-york.jpg") no-repeat center center/cover;
}

.blog-intro .blog-intro__title {
  color: #fff;
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: 3rem;
  text-align: center;
}

.blog-intro .blog-intro__nav,
.blog-intro .blog-intro__nav a {
  color: #fff;
  font-size: 1.8rem;
  transition: all 0.3s ease;
}


/* --------------------------------------------------------------------------------------------- */

/* Blog */


.blog {
    background: var(--section-color);
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 10rem 30rem;
    grid-gap: 3rem;

}


/* Blog | Blog Articles */

.blog .blog-post__card {
    margin-bottom: 10rem;
}

.blog .blog-post__card .blog-post__img {
    width: 89%;
  border-radius: 0.5rem 0.5rem 0 0;
  box-shadow: -0.7rem -0.7rem 0.5rem rgba(162, 162, 162, 0.1);
}


.blog .blog-post__card .blog-post__content {

    text-align: left;
  background-color: #fff;
  margin: -1rem 9.3rem 0  0;
  padding: 2rem;
    transition: all 0.3s ease;
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: 0.7rem 0.7rem 0.5rem rgba(186, 186, 186, 0.1);
}


.blog .blog-post__card .blog-post__author {

    transition: all .3s ease;
}

.blog .blog-post__card .blog-post__title{
    padding: 2rem 0;
    font-weight: 600;
    font-size: 2.5rem;
    transition: all .3s ease;
}




/* Blog | Sidebar - Search */

.blog__sidebar .sidebar__search {
    padding: 3rem;
    background: #fff;
    border-radius: .7rem;
    box-shadow: -0.7rem -0.7rem 0.7rem rgba(174, 174, 174, 0.1),
    0.7rem 0.7rem 0.7rem rgba(174, 174, 174, 0.1);
    display: flex;
    justify-content: center;

}


.blog__sidebar .sidebar__search input {
   padding: 1.5rem;
   width: 25rem;
   border-radius: .5rem;
   border: .1rem solid #CED4DA;
   font-size: 1.6rem;
   font-family: "Poppins", sans-serif;
}


/* Blog | Sidebar - Popular Post */


.blog__sidebar .sidebar__popular-post {
    padding: 1rem;
    background: #fff;
    border-radius: .7rem;
    box-shadow: -0.7rem -0.7rem 0.7rem rgba(174, 174, 174, 0.1),
    0.7rem 0.7rem 0.7rem rgba(174, 174, 174, 0.1);
    display: flex;
    justify-content: center;
    margin: 5rem 0;
}


.blog__sidebar .sidebar__popular-post hr {
    width: auto;
    border: none;
    border-bottom: .1rem solid #CED4DA;
    margin: 2rem 5rem;
}


 .popular-post .popular-post__title h3{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin: 3rem 0;
}

.popular-post .popular-post__article {
   display: flex;
   flex-direction: row;
   justify-content: center;
}


.popular-post .popular-post__article .blog-post__img {
    width: 30%;
    height: 30%;
    border-radius: 5px;
    margin-right: 2rem;
}

.popular-post .popular-post__article .blog-post__title {
    font-weight: 600;
    font-size: 1.4rem;
}

.popular-post .popular-post__article .blog-post__author {
    font-size: 1.1rem;
    margin-bottom: 3rem;
}


/* Blog | Sidebar - Popular Post */



.blog__sidebar .popular-categories {
    padding: 3rem;
    background: #fff;
    border-radius: .7rem;
    box-shadow: -0.7rem -0.7rem 0.7rem rgba(174, 174, 174, 0.1),
    0.7rem 0.7rem 0.7rem rgba(174, 174, 174, 0.1);
display: flex;
flex-direction: column;
text-align: center;
}


.blog__sidebar .popular-categories hr {
    width: auto;
    border: none;
    border-bottom: .1rem solid #CED4DA;
    margin: 2rem 5rem;
}

.blog__sidebar .popular-categories .popular-categories__title{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin: 3rem 0;
}


/* Blog | Sidebar - Popular Post  */

.blog__sidebar .archives {
    padding: 3rem;
    background: #fff;
    border-radius: .7rem;
    box-shadow: -0.7rem -0.7rem 0.7rem rgba(174, 174, 174, 0.1),
    0.7rem 0.7rem 0.7rem rgba(174, 174, 174, 0.1);
display: flex;
flex-direction: column;
text-align: center;
margin: 5rem 0;
}



.blog__sidebar .archives hr {
    width: auto;
    border: none;
    border-bottom: .1rem solid #CED4DA;
    margin: 2rem 5rem;
}


/* Blog | Sidebar - Meta  */

.blog__sidebar .meta {
    padding: 3rem;
    background: #fff;
    border-radius: .7rem;
    box-shadow: -0.7rem -0.7rem 0.7rem rgba(174, 174, 174, 0.1),
    0.7rem 0.7rem 0.7rem rgba(174, 174, 174, 0.1);
display: flex;
flex-direction: column;
text-align: center;
}

.blog__sidebar .meta .meta__title{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin: 3rem 0;
}

.blog__sidebar .meta hr {
    width: auto;
    border: none;
    border-bottom: .1rem solid #CED4DA;
    margin: 2rem 5rem;
}





/* -------------------------------------------------------------------------------------------------- */

/* Footer */

.footer {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    column-gap: 15rem;
    padding: 5rem 0;
  }
  
  /*  Footer | Footer-Logo */
  
  .footer .footer__logo--title {
    color: var(--main-purple-dark-color);
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  /* Footer | Footer-Helpful-Links */
  
  .footer .footer__links--title {
    font-size: 1.6rem;
    color: var(--header-text-color);
    font-weight: 500;
    margin-bottom: 1rem;
  }
  
  .footer .footer__links--list {
    list-style: none;
    line-height: 1.8;
  }
  
  .footer .footer__links--list a {
    color: var(--paragraph-color);
    font-size: 1.4rem;
  }
  
  /* Footer | Footer-Supports */
  
  .footer .footer__supports--title {
    font-size: 1.6rem;
    color: var(--header-text-color);
    font-weight: 500;
    margin-bottom: 1rem;
  }
  
  .footer .footer__supports--list {
    list-style: none;
    line-height: 1.8;
  }
  
  .footer .footer__links--links a,
  .footer .footer__links--links {
    color: var(--paragraph-color);
    font-size: 1.4rem;
  }
  
  /* Footer | Footer-Address */
  
  .footer .footer__address--title {
    font-size: 1.6rem;
    color: var(--header-text-color);
    font-weight: 500;
    margin-bottom: 1rem;
  }
  
  .footer .footer__address--links .thick {
    font-weight: 600;
  }
  
  .footer .footer__address--links {
    padding: 0.5rem 0;
    font-size: 1.3rem;
  }
  
  .footer .footer__address--links .thick {
    font-weight: 600;
  }
  
  .footer .footer__address .footer_address--social {
    padding: 1rem 0;
  }
  
  
  /* Footer | Copyrights */
  
  .footer__copyright  {
  background: var(--section-color);
  padding: 2rem;
  text-align: center;
  
  box-shadow: -0.7rem -0.7rem 0.3rem rgba(211, 211, 211, 0.1);
  }
  
  
  .footer__copyright  .footer__copyright--text {
    color: #717272;
  }  