
:root {
    --main-purple-dark-color: #7744d9;
    --main-purple-light-color: #c216db;
    --header-text-color: #232323;
    --paragraph-color: #868686;
    --section-color: #eff2f7;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
  }
  
  a {
    text-decoration: none;
  }
  
  p {
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 0.1rem;
    color: var(--paragraph-color);
  }
  
  h1,
  h2,
  h3 {
    color: var(--header-text-color);
  }
  
  /* ------------------------------------------------------------------------------------------------- */
  
  /* Navbar */
  
  .navbar {
    top: 0;
    width: 100%;
    display: flex;
    padding: 2rem;
    z-index: 1000;
    position: fixed;
    justify-content: space-evenly;
    text-align: center;
    box-shadow: 0.7rem 0.7rem 0.5rem rgba(135, 134, 134, 0.1);
    background: #fff;
  }
  
  /* Navbar | Logo */
  
  .navbar .navbar__logo {
    color: var(--main-purple-dark-color);
    font-size: 4rem;
    font-weight: 600;
  }
  
  /* Navbar | "The Real Navigationbar" */
  
  .navbar ul {
    display: flex;
    margin-top: 1.2rem;
  }
  
  .navbar .navbar__list .navbar__list--link a {
    color: var(--header-text-color);
    transition: all 0.3s ease;
  }
  
  .navbar .navbar__list .navbar__list--link a:hover {
    color: var(--main-purple-light-color);
  }
  
  .navbar .navbar__list .navbar__list--link {
    display: flex;
    padding: 1rem 1.5rem;
    font-size: 1.8rem;
    color: var(--header-text-color);
  }


  /* --------------------------------------------------------------------------------------------- */



/* FAQ Intro */

.faq-intro {

    height: 50vh;
    padding: 10rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#7844d9a4, #c116db98),
      url("../Assets/images/new-york.jpg") no-repeat center center/cover;
  }
  
  .faq-intro .faq-intro__title {
    color: #fff;
    font-size: 5rem;
    font-weight: 600;
    margin-bottom: 3rem;
    text-align: center;
  }
  
  .faq-intro .faq-intro__nav,
  .faq-intro .faq-intro__nav a {
    color: #fff;
    font-size: 1.8rem;
    transition: all 0.3s ease;
  }
  

  /* --------------------------------------------------------------------------------------------- */

/* FAQ*/

.faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10rem 15rem;
    height: auto;
  }
  
  /* FAQ | Intro */
  
  .faq__title--mini {
    color: var(--main-purple-dark-color);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  
  .faq__title--big {
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;

  }
  
  .faq__description {
    margin-bottom: 3rem;
  }



/* FAQ | faq-q&a */


.faq-qa {
  display: flex;
  justify-content: center;
  padding: 5rem 0;
}


.faq-qa .faq-qa__card > div {
  padding: 2rem 5rem;
  text-align: left;
  transition: all .3s ease;
} 


.faq-qa .faq-qa__card > div h3{
  padding-bottom: .5rem;
  font-weight: 600;
  transition: all .3s ease;
  color: var(--main-purple-dark-color);
} 


/* -------------------------------------------------------------------------------------------------- */

/* Quote */


.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 5rem 15rem;
  height: auto;
  background: linear-gradient(#7844d9ce, #c116dba8 ), url('../Assets/images/it.jpg') no-repeat center center/cover;
}

/* Quote | Intro */

.quote__title--mini {
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.quote__title--big {
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: #fff;

}


/* Quote | Contact Form */

.contact-form {
  padding: 5rem 0;
  }
  
  .contact-form input{
  width: 40rem;
  padding: 1rem;
  margin: 1rem;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  border-radius: .5rem;
  border: 0.1rem solid #e4e4e4;
  opacity: .6;
  transition: all .3s ease;
  }
  
  .contact-form textarea {
    width: 82.5rem;
    height: 20rem;
    margin: 1rem 0 3rem 0;
    resize: none;
    padding: 1rem;
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    border-radius: .5rem;
    border: 0.1rem solid #e4e4e4;
    opacity: .6;
    transition: all .3s ease;
  
  }

  .contact-form input:active,
  .contact-form input:focus,
  .contact-form textarea:active,
  .contact-form textarea:focus  {
    opacity: .9;
  }
  
  .contact-form button {
    border: none;
    background: #fff;
    padding: 1.2rem 3rem;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: var(--main-purple-dark-color);
    border-radius: .5rem;
    transition: all .3s ease;
  }

  /* Contact Primary */

.contact-primary {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10rem;
}

/* Project | Intro */

.contact-primary .contact__title--mini {
  color: var(--main-purple-dark-color);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.contact-primary .contact__title--big {
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.contact-primary .conact__description {
  margin-bottom: 3rem;
}

.contact-primary .conact__description {
  margin-bottom: 3rem;
}


/* Contact | Contact-Info-Card */


.contact-primary .contact-info {
  display: flex;
  padding: 5rem 0;
}

.contact-info .contact-info__card {
border-radius: 5px;
border: 1px solid var(--main-purple-dark-color);
padding: 3rem 5rem;
margin: 0 2rem;
}

.contact-info .contact-info__card .fas,
.contact-info .contact-info__card .far {
  font-size: 3.5rem;
  color: var(--main-purple-dark-color);
  padding-bottom: 2rem;
}


.contact-info .contact-info__card .contact-info__title {
font-size: 2.3rem;
padding: 1rem;
font-weight: 600;
  }


/* -------------------------------------------------------------------------------------------------- */

/* Footer */

.footer {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  column-gap: 15rem;
  background: var(--section-color);
  padding: 5rem 0;
}

/*  Footer | Footer-Logo */

.footer .footer__logo--title {
  color: var(--main-purple-dark-color);
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

/* Footer | Footer-Helpful-Links */

.footer .footer__links--title {
  font-size: 1.6rem;
  color: var(--header-text-color);
  font-weight: 500;
  margin-bottom: 1rem;
}

.footer .footer__links--list {
  list-style: none;
  line-height: 1.8;
}

.footer .footer__links--list a {
  color: var(--paragraph-color);
  font-size: 1.4rem;
}

/* Footer | Footer-Supports */

.footer .footer__supports--title {
  font-size: 1.6rem;
  color: var(--header-text-color);
  font-weight: 500;
  margin-bottom: 1rem;
}

.footer .footer__supports--list {
  list-style: none;
  line-height: 1.8;
}

.footer .footer__links--links a,
.footer .footer__links--links {
  color: var(--paragraph-color);
  font-size: 1.4rem;
}

/* Footer | Footer-Address */

.footer .footer__address--title {
  font-size: 1.6rem;
  color: var(--header-text-color);
  font-weight: 500;
  margin-bottom: 1rem;
}

.footer .footer__address--links .thick {
  font-weight: 600;
}

.footer .footer__address--links {
  padding: 0.5rem 0;
  font-size: 1.3rem;
}

.footer .footer__address--links .thick {
  font-weight: 600;
}

.footer .footer__address .footer_address--social {
  padding: 1rem 0;
}


/* Footer | Copyrights */

.footer__copyright  {
background: #fff;
padding: 2rem;
text-align: center;

box-shadow: -0.7rem -0.7rem 0.3rem rgba(211, 211, 211, 0.1);
}


.footer__copyright  .footer__copyright--text {
  color: #717272;
}  