:root {
  --main-purple-dark-color: #7744d9;
  --main-purple-light-color: #c216db;
  --header-text-color: #232323;
  --paragraph-color: #868686;
  --section-color: #eff2f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.1rem;
  color: var(--paragraph-color);
}

h1,
h2,
h3 {
  color: var(--header-text-color);
}


/* ------------------------------------------------------------------------------------------------- */

/* Navbar */

.navbar {
  top: 0;
  width: 100%;
  display: flex;
  padding: 2rem;
  z-index: 1000;
  position: fixed;
  justify-content: space-evenly;
  text-align: center;
  box-shadow: 0.7rem 0.7rem 0.5rem rgba(135, 134, 134, 0.1);
  background: #fff;
}

/* Navbar | Logo */

.navbar .navbar__logo {
  color: var(--main-purple-dark-color);
  font-size: 4rem;
  font-weight: 600;
}

/* Navbar | "The Real Navigationbar" */

.navbar ul {
  display: flex;
  margin-top: 1.2rem;
}

.navbar .navbar__list .navbar__list--link a {
  color: var(--header-text-color);
  transition: all 0.3s ease;
}

.navbar .navbar__list .navbar__list--link a:hover {
  color: var(--main-purple-light-color);
}

.navbar .navbar__list .navbar__list--link {
  display: flex;
  padding: 1rem 1.5rem;
  font-size: 1.8rem;
  color: var(--header-text-color);
}

/* ----------------------------------------------------------------------------------------------- */

/* Header */

.hero {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30rem;
  padding: 0 10rem;
  height: 70vh;
}

/* Hero Content */

.hero-content {
  margin-top: 22rem;
  position: relative;
  width: 50vw;
  align-items: center;
  justify-content: center;
  text-align: left;
  display: grid;
}

.hero-content .hero-content__header--primary {
  font-weight: 400;
  font-size: 2.2rem;
  color: var(--header-text-color);
  animation: moveInLeft 1s;
}

.hero-content .hero-content__header--secondary {
  font-size: 5rem;
  font-weight: 600;
  color: var(--header-text-color);
  animation: moveInRight 1s;
}

.hero-content .hero-content__header--tertiary {
  font-size: 5rem;
  font-weight: 400;
  margin-bottom: 2.5rem;
  color: var(--header-text-color);
  animation: moveInRight 1s;
}

.hero-content .hero-content__header--paragraph {
  margin-bottom: 4rem;
  animation: moveInLeft 1s;
}

/* Hero Content - Button */

.hero-content .hero-content__button,
.hero-content .hero-content__button:link,
.hero-content .hero-content__button:visited {
  background: var(--main-purple-dark-color);
  padding: 1.5rem 2rem;
  color: #fff;
  letter-spacing: 0.05rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.12);
  display: inline-block;
  transition: all .3s ease;
  font-weight: 500;
}


/* Hero Images */

.hero .hero-images {
  margin-top: 20rem;
  position: relative;
  width: 50vw;
}

.hero .hero-images .hero-images__img {
  position: absolute;
}

.hero .hero-images .hero-images__img:first-child {
  right: 65rem;
  bottom: 20rem;
  animation: img-1 2s ease-in-out infinite alternate;
  animation-timing-function: linear;
  transform-origin: bottom;
}

.hero .hero-images .hero-images__img:nth-child(2) {
  right: 30rem;
  bottom: 3rem;
  animation: img-2 3s ease-out infinite alternate;
  animation-timing-function: linear;
  transform-origin: top;
}

.hero .hero-images .hero-images__img:nth-child(3) {
  right: 65rem;
  bottom: 1rem;
  animation: img-3 3s ease-in-out infinite alternate;
  animation-timing-function: linear;
  transform-origin: bottom;
}

.hero .hero-images .hero-images__img:last-child {
  right: 20rem;
  bottom: -9rem;
  animation: img-4 3s ease-in-out infinite alternate-reverse;
  animation-timing-function: linear;
  transform-origin: bottom;
}

/* --------------------------------------------------------------------------------------------- */

/* About */

.about {
  height: auto;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 0 12rem 5rem 12rem;
  margin-top: 5rem;
  background: var(--section-color);
}

/* About | Card */

.about .card {
  background: #fff;
  margin-top: -6rem;
  padding: 1rem 2rem;
  box-shadow: -0.7rem -0.7rem 0.7rem rgba(174, 174, 174, 0.1),
    0.7rem 0.7rem 0.7rem rgba(174, 174, 174, 0.1);
  border-radius: 5rem 0 5rem 5rem;
  transition: all 0.4s ease;
}

.about .card:hover {
  transform: perspective(100rem) translateY(-1rem) translateX(1rem);
}

.about .card .fas {
  font-size: 2.5rem;
  margin: 2rem;
}

.about .card .card__title {
  padding-bottom: 1rem;
  font-weight: 600;
}

.about .card .card__description {
  padding-bottom: 1rem;
}

/* ---------------------------------------------------------------------------------------------- */

/* Cloud Service  */

.cloud-service {
  height: 70vh;
  padding: 0 10rem;
}

.cloud-service .cloud-content {
  display: flex;
  justify-content: space-evenly;
  padding: 10rem 0;
}

/* Cloud Service | Content  */

.cloud-content .cloud-content__title--mini {
  color: var(--main-purple-dark-color);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.cloud-content .cloud-content__title--big {
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.cloud-content .cloud-content__description {
  margin-bottom: 3rem;
}

/* Cloud Service | Secondary Content */

.cloud-content .cloud-content__secondary {
  display: flex;
}

/* Cloud Service | Secondary Content | Card */

.cloud-content__secondary .cloud-content__card {
  margin-right: 3rem;
}

.cloud-content__secondary .cloud-content__card .cloud-content__paragraph {
  background: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 35rem;
  margin: 2rem 0;
  font-size: 1.6rem;
  color: var(--header-text-color);
  box-shadow: -0.7rem -0.7rem 0.7rem rgba(135, 135, 135, 0.1),
    0.7rem 0.7rem 0.7rem rgba(135, 135, 135, 0.1);
  transition: all 0.3s ease;
}

.cloud-content__secondary .cloud-content__card .cloud-content__paragraph .fas,
.cloud-content__secondary .cloud-content__card .cloud-content__paragraph .fab {
  background: var(--main-purple-dark-color);
  padding: 1rem;
  font-size: 2rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  color: #fff;
}

/* Cloud Service | Image  */

.cloud-content .cloud-content__images {
  position: relative;
  width: 30%;
}

.cloud-content .cloud-content__images img {
  position: absolute;
}

.cloud-content .cloud-content__images img:first-child {
  animation: rot-circle 20s infinite;
  animation-timing-function: linear;
}

.cloud-content .cloud-content__images img:last-child {
  width: 50%;
  top: 15rem;
  left: 13rem;
  animation: img-1 1s ease-in-out infinite alternate;
}

/* -------------------------------------------------------------------------------------------------- */

/* Web Service  */

.web-service {
  height: 70vh;
  padding: 0 10rem;
  background: var(--section-color);
}

.web-service .web-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  padding: 10rem 0;
}

/* Cloud Service | Content  */

.web-content .web-content__title--mini {
  color: var(--main-purple-dark-color);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.web-content .web-content__title--big {
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.web-content .web-content__description {
  margin-bottom: 3rem;
}

/* Cloud Service | Secondary Content */

.web-content .web-content__secondary {
  display: flex;
}

/* Cloud Service | Secondary Content | Card */

.web-content__secondary .web-content__card {
  margin-right: 3rem;
}

.web-content__secondary .web-content__card .web-content__paragraph {
  background: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 35rem;
  margin: 2rem 0;
  font-size: 1.6rem;
  color: var(--header-text-color);
  box-shadow: -0.7rem -0.7rem 0.7rem rgba(174, 174, 174, 0.1),
    0.7rem 0.7rem 0.7rem rgba(174, 174, 174, 0.1);
  transition: all 0.3s ease;
}

.web-content__secondary .web-content__card .web-content__paragraph .fas,
.web-content__secondary .web-content__card .web-content__paragraph .fab {
  background: var(--main-purple-dark-color);
  padding: 1rem;
  font-size: 2rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  color: #fff;
}

/* Cloud Service | Image  */

.web-content .web-content__images {
  position: relative;
  width: 30%;
}

.web-content .web-content__images img {
  position: absolute;
}

.web-content .web-content__images img:first-child {
  animation: rot-circle 20s infinite;
  animation-timing-function: linear;
  width: 105%;
}

.web-content .web-content__images img:last-child {
  width: 100%;
  top: 10rem;
  right: 5rem;
  animation: img-1 1s ease-in-out infinite alternate;
  width: 105%;
}

/* -------------------------------------------------------------------------------------------------- */

/* Features */

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10rem;
}

/* Features | Intro */

.features__title--mini {
  color: var(--main-purple-dark-color);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.features__title--big {
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.features__description {
  margin-bottom: 3rem;
}

/* Features | Content */

.features__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem 0;
}

/*  Features | Content | Card  */

.features__content .card:first-child {
  display: flex;
  justify-content: center;
}

.features__content .card:last-child {
  display: flex;
  justify-content: center;
}

/*  Features | Content | Card > Div */

.features__content .card > div {
  background: #fff;
  padding: 4rem 2.5rem;
  margin: 1rem;
  border-radius: 0.5rem;
  box-shadow: -0.7rem -0.7rem 0.6rem rgba(135, 135, 135, 0.1),
    0.7rem 0.7rem 0.7rem rgba(135, 135, 135, 0.1);
  transition: all 0.4s ease;
}

.features__content .card > div .fas,
.features__content .card > div .far {
  color: #fff;
  background: var(--main-purple-dark-color);
  padding: 1.5rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

.features__content .card > div .card__title {
  font-weight: 500;
  margin-bottom: 1rem;
}

/*  Features | Content | Card Div :Hover  */

.features__content .card:first-child div:hover {
  transform: perspective(100rem) translateY(-1rem);
}

.features__content .card:last-child div:hover {
  transform: perspective(100rem) translateY(1rem);
}

/* -------------------------------------------------------------------------------------------------- */

/* Mini Info */

.mini-info {
  display: flex;
  justify-content: space-evenly;
  height: 25vh;
  align-items: center;
  background: linear-gradient(#7844d9b1, #b143faa4),
    url(../Assets/images/new-york.jpg) no-repeat center center/cover;
  padding: 0 10rem;
}

.mini-info .mini-info__part {
  text-align: center;
}

.mini-info .mini-info__part h2 {
  font-size: 3.5rem;
  color: #fff;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}

.mini-info .mini-info__part p {
  font-size: 2.2rem;
  color: #fff;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

/* --------------------------------------------------------------------------------------------- */

/* Project */

.project {
  background: var(--section-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10rem 15rem;
  height: auto;
}

/* Project | Intro */

.project__title--mini {
  color: var(--main-purple-dark-color);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.project__title--big {
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.project__description {
  margin-bottom: 3rem;
}

/* Project | Content */

.project .project__content .card {
  display: flex;
  flex-direction: row;
  margin: 5rem 30rem 0 30rem;
}

.project__content .card div img {
  width: 90%;
  border-radius: 0.5rem;
  box-shadow: -0.7rem -0.7rem 0.7rem rgba(121, 121, 121, 0.1),
    0.7rem 0.7rem 0.7rem rgba(121, 121, 121, 0.1);
  transition: all 0.3s ease;
  margin-bottom: 5rem;
  transition: 0.3s;
}

/* Project | Content | Button */

.project .project-content__button a {
  background: var(--main-purple-dark-color);
  padding: 1.5rem 2rem;
  color: #fff;
  letter-spacing: 0.05rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease;
  box-shadow: 0 2rem 2rem rgba(118, 118, 118, 0.1);
  animation: hero-button 1s;
}

/* --------------------------------------------------------------------------------------------- */

/* Advertisement */

.advertisement {
  text-align: center;
  height: auto;
  background: linear-gradient(#7844d9b1, #b143faa4),
    url(../Assets/images/new-york.jpg) no-repeat center center/cover;
  padding: 5rem 10rem;
}

/* Advertisement | content */

.advertisement .advertisement__title {
  color: #fff;
  font-weight: 600;
  font-size: 3.5rem;
  letter-spacing: 0.1rem;
  padding: 1rem 0;
}

.advertisement .advertisement__description {
  color: #fff;
  padding: 3rem 0;
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
}

/* Advertisement | Button */

.advertisement .advertisement__button {
  padding: 1.5rem;
  color: #fff;
  font-size: 1.4rem;
  border: none;
  border-radius: 0.5rem;
  background: var(--main-purple-light-color);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0.05rem;
  transition: all 0.3s ease;
  box-shadow: -0.7rem -0.7rem 0.5rem rgba(84, 84, 84, 0.213),
    0.7rem 0.7rem 0.5rem rgba(84, 84, 84, 0.213);
}

/* --------------------------------------------------------------------------------------------- */

/* Price */

#price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10rem;
}

/* Price | Intro */

.price__title--mini {
  color: var(--main-purple-dark-color);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.price__title--big {
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.price__description {
  margin-bottom: 3rem;
}

/* Price | Package */

.package {
  height: auto;
  margin-bottom: 3rem;
  padding: 2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.package a {
  cursor: inherit;
}

/* Price | Package | card*/

.package .package__card {
  padding: 4rem;
  margin: 0 1.5rem;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: -0.7rem -0.7rem 0.8rem rgba(135, 135, 135, 0.1),
    0.7rem 0.7rem 0.8rem rgba(135, 135, 135, 0.1);
}

.package .package__card .package__name {
  color: #fff;
  font-weight: 500;
  font-size: 2.3rem;
  background: var(--main-purple-dark-color);
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
}

.package .package__card .package__info {
  margin: 3rem 0;
  border: 0.1rem solid #e4e4e4;
  border-radius: 0.7rem;
  list-style: none;
  padding: 2.5rem;
}

.package .package__card .package__info .package__info--list {
  font-size: 1.5rem;
  line-height: 2.5;
  color: var(--paragraph-color);
}

.package .package__card .package__price {
  color: var(--main-purple-dark-color);
  font-size: 2.5rem;
  font-weight: 600;
  padding-bottom: 3rem;
}

.package .package__card .package__price .mini {
  font-size: 1.8rem;
  font-weight: 400;
}

/* Price | Package | Card | Button */

.package .package__card .package__button {
  border: none;
  background: var(--main-purple-dark-color);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.package .package__card .package__button:focus {
  outline: none;
}

/* Price | Package | Card | Middle Child */

.package .package__card:nth-child(2) .package__name {
  background: var(--main-purple-light-color);
}

.package .package__card:nth-child(2) .package__info {
  border: 0.1rem solid var(--main-purple-light-color);
}

.package .package__card:nth-child(2) .package__price {
  color: var(--main-purple-light-color);
}

/* Price | Package | Card | Button */

.package .package__card:nth-child(2) .package__button {
  background: var(--main-purple-light-color);
}

/* --------------------------------------------------------------------------------------------- */

/* Testimonal */

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10rem;
  background: var(--section-color);
}

/* Testimonial | Intro */

.testimonial__title--mini {
  color: var(--main-purple-dark-color);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.testimonial__title--big {
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.testimonial__description {
  margin-bottom: 3rem;
}

/* Testimonial | Feedback */

.feedback {
  display: flex;
  justify-content: center;
}

.feedback .feedback__card {
  padding: 3rem 0.5rem;
  border-radius: 0.5rem;
  box-shadow: -0.7rem -0.7rem 0.5rem rgba(174, 174, 174, 0.1),
    0.7rem 0.7rem 0.5rem rgba(174, 174, 174, 0.1);
  margin: 1rem 2rem;
  transition: all 0.3s ease;
  background: #fff;
}

.feedback .feedback__card .feedback__img {
  width: 30%;
  margin: 2rem 0;
  border-radius: 50%;
}

.feedback .feedback__description {
  margin-bottom: 2rem;
}

.feedback .feedback__author {
  color: var(--header-text-color);
  font-weight: 500;
}

.feedback .feedback__author .mini {
  color: var(--main-purple-dark-color);
  font-weight: 400;
  font-size: 1.7rem;
}

/* --------------------------------------------------------------------------------------------- */

/* Articles */

.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10rem;
}

/* Article | Intro */

.article__intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.article__intro .article__title--mini {
  color: var(--main-purple-dark-color);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.article__intro .article__title--big {
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.article__intro .article__description {
  margin-bottom: 3rem;
}

/* Blog | Blog Post*/

.article .blog-post {
  display: flex;
  justify-content: center;
}

/* Blog | Blog Post | Card*/

.blog-post .blog-post__card {
  transition: all 0.3s ease;
}

.blog-post .blog-post__card img {
  width: 89%;
  border-radius: 0.5rem 0.5rem 0 0;
  box-shadow: -0.7rem -0.7rem 0.5rem rgba(162, 162, 162, 0.1);
}

.blog-post .blog-post__content {
  background: var(--section-color);
  text-align: left;
  padding: 2rem 1.6rem;
  margin: -1rem 2rem 3rem 2rem;
  transition: all 0.3s ease;
  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: 0.7rem 0.7rem 0.5rem rgba(186, 186, 186, 0.1);
}

.blog-post .blog-post__author {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}

.blog-post .blog-post__title {
  font-size: 1.9rem;
  font-weight: 500;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}

.blog-post .blog-post__description {
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}

.blog-post .blog-post__button {
  font-size: 1.6rem;
  color: var(--paragraph-color);
  transition: all 0.3s ease;
}

/* -------------------------------------------------------------------------------------------------- */

/* Footer */

.footer {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  column-gap: 15rem;
  background: var(--section-color);
  padding: 5rem 0;
}

/*  Footer | Footer-Logo */

.footer .footer__logo--title {
  color: var(--main-purple-dark-color);
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

/* Footer | Footer-Helpful-Links */

.footer .footer__links--title {
  font-size: 1.6rem;
  color: var(--header-text-color);
  font-weight: 500;
  margin-bottom: 1rem;
}

.footer .footer__links--list {
  list-style: none;
  line-height: 1.8;
}

.footer .footer__links--list a {
  color: var(--paragraph-color);
  font-size: 1.4rem;
}

/* Footer | Footer-Supports */

.footer .footer__supports--title {
  font-size: 1.6rem;
  color: var(--header-text-color);
  font-weight: 500;
  margin-bottom: 1rem;
}

.footer .footer__supports--list {
  list-style: none;
  line-height: 1.8;
}

.footer .footer__links--links a,
.footer .footer__links--links {
  color: var(--paragraph-color);
  font-size: 1.4rem;
}

/* Footer | Footer-Address */

.footer .footer__address--title {
  font-size: 1.6rem;
  color: var(--header-text-color);
  font-weight: 500;
  margin-bottom: 1rem;
}

.footer .footer__address--links .thick {
  font-weight: 600;
}

.footer .footer__address--links {
  padding: 0.5rem 0;
  font-size: 1.3rem;
}

.footer .footer__address--links .thick {
  font-weight: 600;
}

.footer .footer__address .footer_address--social {
  padding: 1rem 0;
}


/* Footer | Copyrights */

.footer__copyright  {
background: #fff;
padding: 2rem;
text-align: center;

box-shadow: -0.7rem -0.7rem 0.3rem rgba(211, 211, 211, 0.1);
}


.footer__copyright  .footer__copyright--text {
  color: #717272;
}  