:root {
  --main-purple-dark-color: #7744d9;
  --main-purple-light-color: #c216db;
  --header-text-color: #232323;
  --paragraph-color: #868686;
  --section-color: #eff2f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.1rem;
  color: var(--paragraph-color);
}

h1,
h2,
h3 {
  color: var(--header-text-color);
}

/* ------------------------------------------------------------------------------------------------- */

/* Navbar */

.navbar {
  top: 0;
  width: 100%;
  display: flex;
  padding: 2rem;
  z-index: 1000;
  position: fixed;
  justify-content: space-evenly;
  text-align: center;
  box-shadow: 0.7rem 0.7rem 0.5rem rgba(135, 134, 134, 0.1);
  background: #fff;
}

/* Navbar | Logo */

.navbar .navbar__logo {
  color: var(--main-purple-dark-color);
  font-size: 4rem;
  font-weight: 600;
}

/* Navbar | "The Real Navigationbar" */

.navbar ul {
  display: flex;
  margin-top: 1.2rem;
}

.navbar .navbar__list .navbar__list--link a {
  color: var(--header-text-color);
  transition: all 0.3s ease;
}

.navbar .navbar__list .navbar__list--link a:hover {
  color: var(--main-purple-light-color);
}

.navbar .navbar__list .navbar__list--link {
  display: flex;
  padding: 1rem 1.5rem;
  font-size: 1.8rem;
  color: var(--header-text-color);
}

/* --------------------------------------------------------------------------------------------- */

/* Contact Intro */

.service-intro {
  height: 50vh;
  padding: 10rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#7844d9a4, #c116db98),
    url("../Assets/images/new-york.jpg") no-repeat center center/cover;
}

.service-intro .service-intro__title {
  color: #fff;
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: 3rem;
  text-align: center;
}

.service-intro .service-intro__nav,
.service-intro .service-intro__nav a {
  color: #fff;
  font-size: 1.8rem;
  transition: all 0.3s ease;
}

/* --------------------------------------------------------------------------------------------- */

/* Service*/

.service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10rem 15rem;
  height: auto;
  background: var(--section-color);
}

/* Service | Intro */

.service__title--mini {
  color: var(--main-purple-dark-color);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.service__title--big {
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}


/* Service| Content */

.service-content {
  display: flex;
  flex-direction: column;
}

.service-content > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.service-content .card {
  padding: 2rem;
  background: #fff;
  margin: 5rem;
  box-shadow: -0.7rem -0.7rem 0.7rem rgba(191, 191, 191, 0.1),
    0.7rem 0.7rem 0.7rem rgba(191, 191, 191, 0.1);
  border-radius: 5rem 0 5rem 5rem;
  transition: all 0.4s ease;
}



.service-content .card .fas,
.service-content .card .far {
    font-size: 2.5rem;
    margin: 2rem;
    padding: 1.5rem;
    border-radius: 2rem 0 2rem 2rem;
  }
  
  .service-content .card .card__title {
    padding-bottom: 1rem;
    font-weight: 600;
    
  }


/* -------------------------------------------------------------------------------------------------- */

/* Footer */

.footer {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  column-gap: 15rem;
  padding: 5rem 0;
}

/*  Footer | Footer-Logo */

.footer .footer__logo--title {
  color: var(--main-purple-dark-color);
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

/* Footer | Footer-Helpful-Links */

.footer .footer__links--title {
  font-size: 1.6rem;
  color: var(--header-text-color);
  font-weight: 500;
  margin-bottom: 1rem;
}

.footer .footer__links--list {
  list-style: none;
  line-height: 1.8;
}

.footer .footer__links--list a {
  color: var(--paragraph-color);
  font-size: 1.4rem;
}

/* Footer | Footer-Supports */

.footer .footer__supports--title {
  font-size: 1.6rem;
  color: var(--header-text-color);
  font-weight: 500;
  margin-bottom: 1rem;
}

.footer .footer__supports--list {
  list-style: none;
  line-height: 1.8;
}

.footer .footer__links--links a,
.footer .footer__links--links {
  color: var(--paragraph-color);
  font-size: 1.4rem;
}

/* Footer | Footer-Address */

.footer .footer__address--title {
  font-size: 1.6rem;
  color: var(--header-text-color);
  font-weight: 500;
  margin-bottom: 1rem;
}

.footer .footer__address--links .thick {
  font-weight: 600;
}

.footer .footer__address--links {
  padding: 0.5rem 0;
  font-size: 1.3rem;
}

.footer .footer__address--links .thick {
  font-weight: 600;
}

.footer .footer__address .footer_address--social {
  padding: 1rem 0;
}

/* Footer | Copyrights */

.footer__copyright {
  background: var(--section-color);
  padding: 2rem;
  text-align: center;

  box-shadow: -0.7rem -0.7rem 0.3rem rgba(211, 211, 211, 0.1);
}



/* -------------------------------------------------------------------------------------------------- */



    

    